@font-face {
  font-family: "Gamja";
  src: url("./Gamja_Flower/GamjaFlower-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: "Rock";
  src: url("./rock-slayers-font/RockSlayers-BW6Lw.otf");
}
